<form action="/payment/results">
  <div>
  <label for="hippo">APR</label>
      <input id="hippo" type="text" name="apr">
  </div>
    
    
  <div>
    <label for="rhino">Number of years</label>
      <input id="rhino" type="text" name="number_years">
  </div>

  <div>
    <label for="cat">Principal</label>
      <input id="cat" type="text" name="principal">
  </div>
  
  <div>
  <button>Calculate monthly payment</button>
  </div>
</form>
