<!DOCTYPE html>
<html>
<head>
  <title>Random Number Result</title>
</head>
<body>
  <h2>Random Number Result</h2>
  <p>A random number between <%= @min %> and <%= @max %> is <%= @random_number %>.</p>
</body>
</html>
