<!DOCTYPE html>
<html>
<head>
  <title>Random Number Generator</title>
</head>
<body>
  <h2>Pick a Random Number</h2>
  <form action="/random/results" method="get">
    <label for="user_min">Minimum</label>
    <input type="text" id="user_min" name="user_min" required>

    <label for="user_max">Maximum</label>
    <input type="text" id="user_max" name="user_max" required>

    <button type="submit">Pick random number</button>
  </form>
</body>
</html>
